In [2]:
import pandas as pd

In [4]:
df_temp_neuro=pd.read_csv("fct_neurology.csv") ; df_temp_neuro.shape

(141850, 8)

In [11]:
df_temp_neuro.head()

   Unnamed: 0  bis  et_des  et_sevo  nmt_tof  nmtratio  id_patient   time
0           0    0     0.0      0.0      0.0       0.0         381   5:11
1           1    0     0.0      0.0      0.0       0.0         381   5:13
2           2    0     0.0      0.0      0.0       0.0         381   5:14
3           3    0     0.0      0.0      0.0       0.0         381   5:15
4           4    0     0.0      0.0      0.0       0.0         381   5:16

In [8]:
df_gp=df_temp_neuro.groupby('id_patient')

In [12]:
df_gp['id_patient'].count().head()

id_patient
109     76518
150     82350
151    183918
152     98192
153     92259
Name: id_patient, dtype: int64

In [9]:
df_gp['id_patient'].count().describe()

count     212.000000
mean      669.103774
std       279.168414
min        64.000000
25%       527.750000
50%       611.500000
75%       723.750000
max      2729.000000
Name: id_patient, dtype: float64

In [13]:
df_gp.sum()

            Unnamed: 0    bis  et_des    et_sevo  nmt_tof      nmtratio
id_patient
109           56205279      0     0.0   0.000000     84.0      8.000000
150           23310540      0     0.0   0.000000     73.0    687.200005
151           47659731      0     0.0  31.900001   1230.0  18316.700134
152           29206629      0     0.0   0.000000   1580.0   5073.799951
153           28699785      0     0.0   4.900000    719.0    161.099998
154           25673193      0     0.0   0.000000     62.0    392.199997
155           49492695      0     0.0   9.200000    179.0   1319.099977
156           23405052      0     0.0   0.000000      4.0     28.600000
157           29854814      0     0.0   0.000000    463.0   1712.299989
158           23955375      0     0.0   0.000000    151.0   1558.599995
159           26901036      0     0.0   0.000000      2.0      0.000000
160           28287530      0     0.0   2.800000    102.0    273.199996
161           29716335      0     0.0  13.600000   1060.0  15005.199968
163           27576760      0     0.0   0.000000    338.0   1458.399967
164           18298557      0     0.0   0.000000     24.0     51.599998
166            6878745      0     0.0   0.000000    248.0   2639.400000
167           31381615      0     0.0   0.000000    341.0   5074.300000
168           29067997      0     0.0   0.000000    191.0   1420.300000
170           23164559      0     0.0   0.000000    688.0   8788.000000
171           18727290      0     0.0   0.000000    100.0    134.200000
172           19298520      0     0.0   0.000000    196.0   1491.300000
174           25998891      0     0.0   0.000000    291.0   6717.800000
175           28890261      0     0.0   0.000000    394.0   1090.500000
176          112266770   1273     0.0   3.200000    575.0   5534.400000
177           85319475      0     0.0   0.000000    393.0   3378.300000
178          104244055      0     0.0   1.500000    405.0   1429.300000
179           94867334      0     0.0   0.000000    310.0   4719.200000
180          129623652      0     0.0   0.000000   1774.0  17749.000000
181           73516520      0     0.0   0.000000   1876.0    720.800000
182           92535630      0     0.0   0.000000    193.0    814.300000
...                ...    ...     ...        ...      ...           ...
380           10084113  25077     0.0   0.000000   2124.0   1839.800000
381              85905  16377     0.0   0.000000    196.0   1417.800000
382            3514293  21284     0.0   0.000000    617.0   2367.900000
383            2318550  18805     0.0   0.000000    197.0   1322.600000
384             383091  21651     0.0   0.000000    756.0  19797.600000
386            4004142  17135     0.0   0.000000    628.0   5005.000000
387           10839345  42379     0.0   0.000000    270.0   2856.800000
388            3549521  41904     0.0   0.000000     62.0  13500.000000
389            1733809  25147     0.0   0.000000     60.0    497.600000
390            3968259  21109     0.0   0.000000    545.0    698.800000
391            7237308  19663     0.0   0.000000    748.0   1985.200000
392            7415694  20558     0.0   0.000000    139.0   4183.600000
393           73786316  34422     0.0   0.000000     89.0   1053.500000
394           58687605  27785     0.0   0.000000    884.0   7007.000000
395           64075410  28376     0.0   0.000000    707.0   3924.000000
396           55416291  25905     0.0   0.000000   1180.0   2246.900000
397           41961495  16500     0.0   0.000000    234.0   1894.100000
398           60625383  20762     0.0   0.000000    985.0  10813.000000
399           44480956  19682     0.0   0.000000    349.0   6957.900000
400           42597852  17756     0.0   8.600000    286.0   4302.700000
401           51089108  18867     0.0   0.000000    202.0   4523.100000
403           51518399  14357     0.0  14.800000    439.0   3686.500000
404           46063992      0     0.0   0.200000    164.0    274.600000
405           22024108      0     0.0   0.000000    106.0    252.500000
406           42480764  14979     0.0   0.000000     22.0    175.100000
407           58140642  26621     0.0   0.900000    392.0   1712.100000
408           63446829  14465     0.0   4.300000    155.0   1463.400000
409           53786416      0     0.0   0.000000    758.0   7270.600000
410           43223670   2915     0.0   0.000000    314.0    246.900000
411           43385160  19210     0.0   0.000000    111.0   1093.600000

[212 rows x 6 columns]