In [1]:
import pandas as pd
import numpy as np

from transplant.data.dataset import Dataset
dataset=Dataset()

from transplant.data.learningset import Learningset
learningset = Learningset()

In [2]:
train_static_0, test_static_0 = learningset.get_static_filled()
train_dynamic_0, test_dynamic_0 = dataset.get_dynamic()

In [3]:
train_static_0['target']=train_static_0['target'].map({1: 1, 0: 2})
test_static_0['target']=test_static_0['target'].map({1: 1, 0: 2})

In [4]:
df_train=pd.merge(train_dynamic_0, train_static_0[['id_patient','target']], on='id_patient').fillna(0)
df_test=pd.merge(test_dynamic_0, test_static_0[['id_patient','target']], on='id_patient').fillna(0)

In [5]:
len(set(df_train['id_patient']))

228

In [6]:
dict_id_train_to_range={}
j=1
for i in set(df_train['id_patient']): 
    dict_id_train_to_range[i]=j
    j+=1
    
dict_id_test_to_range={}
j=1
for i in set(df_test['id_patient']): 
    dict_id_test_to_range[i]=j
    j+=1

In [7]:
df_train['id_patient']=df_train['id_patient'].map(dict_id_train_to_range)
df_test['id_patient']=df_test['id_patient'].map(dict_id_test_to_range)

In [8]:
df_train.columns

Index(['id_patient', 'time', 'B.I.S', 'BIS SR', 'DC', 'ETCO2', 'FC', 'FR',
       'FiO2', 'PAPdia', 'PAPmoy', 'PAPsys', 'PASd', 'PASm', 'PASs',
       'PEEPtotal', 'PNId', 'PNIm', 'PNIs', 'Pmax', 'Pmean', 'SpO2',
       'SvO2 (m)', 'Temp', 'VT', 'declampage_cote1_done',
       'declampage_cote2_done', 'target'],
      dtype='object')

In [9]:
df1_train=df_train[['id_patient','time','target','FiO2','B.I.S','SpO2']]
df1_test=df_test[['id_patient','time','target','FiO2','B.I.S','SpO2']]

In [10]:
df1_train['nb'] =1
df1_test['nb'] =1

C:\Users\Delanoue\Anaconda3\envs\env_py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Delanoue\Anaconda3\envs\env_py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
df1_train['Time Stamp']= df1_train.groupby('id_patient')['nb'].cumsum()
df1_test['Time Stamp']= df1_test.groupby('id_patient')['nb'].cumsum()

C:\Users\Delanoue\Anaconda3\envs\env_py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Delanoue\Anaconda3\envs\env_py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
TRAIN=df1_train[['id_patient','Time Stamp','target','FiO2','B.I.S','SpO2']]
TEST=df1_test[['id_patient','Time Stamp','target','FiO2','B.I.S','SpO2']]

In [13]:
TRAIN[TRAIN['id_patient']<20]

       id_patient  Time Stamp  target  FiO2  B.I.S  SpO2
0               1           1       2    22    0.0    98
1               1           2       2    22    0.0    98
2               1           3       2    22    0.0    98
3               1           4       2    22    0.0    97
4               1           5       2    22    0.0    98
5               1           6       2    22    0.0    98
6               1           7       2    22    0.0    99
7               1           8       2    22    0.0    98
8               1           9       2    22    0.0    99
9               1          10       2    22    0.0    97
10              1          11       2    22    0.0    97
11              1          12       2    22    0.0    97
12              1          13       2    22    0.0    97
13              1          14       2    22    0.0     0
14              1          15       2    22    0.0     0
15              1          16       2    36    0.0     0
16              1          17       2    84    0.0     0
17              1          18       2    93    0.0     0
18              1          19       2    96    0.0     0
19              1          20       2    97    0.0     0
20              1          21       2    98    0.0     0
21              1          22       2    98    0.0     0
22              1          23       2    98    0.0     0
23              1          24       2     0    0.0     0
24              1          25       2    99    0.0     0
25              1          26       2    99    0.0    93
26              1          27       2    99    0.0    93
27              1          28       2     0    0.0    93
28              1          29       2    99    0.0    92
29              1          30       2    99    0.0    92
...           ...         ...     ...   ...    ...   ...
10325          19         390       2    39    0.0   100
10326          19         391       2    39    0.0   100
10327          19         392       2    39    0.0   100
10328          19         393       2    38    0.0   100
10329          19         394       2    38    0.0   100
10330          19         395       2    38    0.0   100
10331          19         396       2    38    0.0   100
10332          19         397       2    38    0.0   100
10333          19         398       2    38    0.0   100
10334          19         399       2    38    0.0   100
10335          19         400       2    48    0.0   100
10336          19         401       2    40    0.0   100
10337          19         402       2    39    0.0   100
10338          19         403       2    39    0.0   100
10339          19         404       2    39    0.0   100
10340          19         405       2    38    0.0   100
10341          19         406       2    38    0.0   100
10342          19         407       2    38    0.0   100
10343          19         408       2    38    0.0   100
10344          19         409       2    38    0.0   100
10345          19         410       2    38    0.0   100
10346          19         411       2    38    0.0   100
10347          19         412       2    38    0.0   100
10348          19         413       2    38    0.0   100
10349          19         414       2    38    0.0   100
10350          19         415       2    38    0.0   100
10351          19         416       2    38    0.0   100
10352          19         417       2    38    0.0   100
10353          19         418       2    38    0.0   100
10354          19         419       2    38    0.0   100

[10355 rows x 6 columns]

In [14]:
TRAIN.head()

   id_patient  Time Stamp  target  FiO2  B.I.S  SpO2
0           1           1       2    22    0.0    98
1           1           2       2    22    0.0    98
2           1           3       2    22    0.0    98
3           1           4       2    22    0.0    97
4           1           5       2    22    0.0    98

In [15]:
TEST.head()

   id_patient  Time Stamp  target  FiO2  B.I.S  SpO2
0           1           1       1    22    0.0     0
1           1           2       1    22    0.0    97
2           1           3       1    51    0.0    95
3           1           4       1   101    0.0    97
4           1           5       1   101    0.0     0

In [16]:
TRAIN=TRAIN[TRAIN['id_patient']<20]
TEST=TEST[TEST['id_patient']<10]

In [17]:
TRAIN.to_csv('batch_TRAIN3.csv', sep=" ", header=False ,index=False)
TEST.to_csv('batch_TEST3.csv', sep=" ", header=False,index=False)